<!-- Navbar for bigger screens -->
<nav class='hidden lg:flex lg:flex-col shrink-0 mx-auto'>
  <!-- primary nav -->
  <div class='flex flex-col px-4'>
    <!-- logo -->
    <div class='flex pt-3 pb-8'> 
      <%= image_tag 'logo.svg', class:'pr-2'%>
      <%= link_to 'Café Brazil', store_index_path, class:'font-caveat text-yellow-800 text-opacity-90 font-semibold text-4xl pb-1 mr-1 shrink-0'%>
    </div>

    <!-- pages -->
    <div class='flex flex-col text-gray-400'>
      <a href='/about' class='px-1 pt-2 font-semibold antialiased hover:text-slate-500'>About</a>
      <a href='/contact' class='px-1 pt-2 font-semibold antialiased hover:text-slate-500'>Contact</a>
      <a href='/faq' class='px-1 pt-2 font-semibold antialiased hover:text-slate-500'>FAQ</a>
    </div>
  </div>
  
  <!-- secondary nav -->
  <div class='pt-9 px-8'>
    <!--login / signup-->
    <div class='flex flex-col'>
      <a href='/signup' class='px-1 py-1 mt-2 bg-amber-600 hover:bg-amber-700 text-neutral-200 text-center rounded-lg hover:shadow transition duration-500'>Sign Up</a>
      <a href='/login' class='pt-3 mr-2 underline underline-offset-2 text-amber-700 hover:text-amber-600 text-center'>Login</a>
    </div>
  </div>
</nav>

<!-- Navbar for smaller screens -->
<nav class='lg:hidden flex justify-between bg-gray-100 px-6 py-4 mx-auto'>
  <!-- primary nav -->
  <div class='flex items-center'>
    <!-- logo -->
    <div class='flex pr-3'> 
      <%= image_tag 'logo.svg', class:'pr-2'%>
      <%= link_to 'Café Brazil', store_index_path, class:'font-caveat text-yellow-800 text-opacity-90 font-semibold sm:text-3xl text-2xl pb-1 mr-1 shrink-0'%>
    </div>
    
    <!-- navbar secundary elements -->
    <div class='items-center space-x-1 text-gray-400'>
      <a href='/about' class='px-1 pt-2 mt-1 hover:text-gray-900'>About</a>
      <a href='/contact' class='px-1 pt-2 mt-1 hover:text-gray-900'>Contact</a>
      <a href='/faq' class='px-1 pt-2 mt-1 hover:text-gray-900'>FAQ</a>
    </div>
  </div>

  <!-- secondary nav -->
  <div class='flex items-center'>
    <!--login / signup-->
    <a href='/login' class='py-1 mr-3 underline underline-offset-2 text-amber-700 hover:text-amber-600 text-center'>Login</a>
    <a href='/signup' class='px-1 py-1 bg-amber-600 hover:bg-amber-700 text-neutral-200 text-center rounded-lg hover:shadow transition duration-500'>Sign Up</a>
  </div>
</nav>

<!-- Javascript code for dropdown menu -->
<script>
  const btn = document.querySelector('button.mobile-menu-button');
  const menu = document.querySelector('.mobile-menu');

  btn.addEventListener('click', () => {
    menu.classList.toggle('hidden');
  })
</script>
