<nav class='block bg-gray-100 px-8 py-4 mx-auto'>
  <div class=''>
    
    <!-- primary nav -->
    <div class='flex flex-col'>

      <!-- logo -->
      <div class='flex py-2 pr-3 mx-8'> 
        <%= image_tag 'logo.svg', class:'pr-2'%>
        <%= link_to 'Café Brazil', store_index_path, class:'font-caveat text-yellow-800 text-opacity-90 font-semibold text-4xl pb-1 mr-1'%>
      </div>

      <!-- pages -->
      <div class='md:flex flex-col  text-gray-400'>
        <a href='/about' class='px-1 pt-2 hover:text-gray-900'>About</a>
        <a href='/contact' class='px-1 pt-2 hover:text-gray-900'>Contact</a>
        <a href='/faq' class='px-1 pt-2 hover:text-gray-900'>FAQ</a>
      </div>
    </div>
    
    <!-- secondary nav -->
    <div class=''>

      <!--login / signup for medium up screens-->
      <div class='flex flex-col md:block md:flex text-gray-400'>
        <a href='/signup' class='px-1 py-1 mt-2 bg-amber-600 hover:bg-amber-700 text-neutral-200 text-center rounded-lg hover:shadow transition duration-500'>Sign Up</a>
        <a href='/login' class='pt-2 mr-2 underline underline-offset-2 text-amber-700 hover:text-amber-600 text-center'>Login</a>
      </div>

    </div>
  </div>
</nav>

<!-- Javascript code for dropdown menu -->
<script>
  const btn = document.querySelector('button.mobile-menu-button');
  const menu = document.querySelector('.mobile-menu');

  btn.addEventListener('click', () => {
    menu.classList.toggle('hidden');
  })
</script>
