<nav class='flex flex-col bg-white'>
  <!-- support -->

  <!--login / signup-->
  <div class='flex justify-end bg-stone-400 px-3 pb-1'>
    <a href='/login' class='pt-3 mr-4 underline underline-offset-2 text-red-800 hover:text-amber-600 text-center'>Login</a>
    <a href='/signup' class='px-5 py-1 mt-2 bg-red-800 bg-gradient-to-tr hover:from-red-800 hover:to-red-700 text-neutral-200 text-center rounded-lg hover:shadow transition duration-500'>Sign Up</a>
  </div>

  <!-- cart button -->
</nav>