<div id="<%= dom_id cart %>">
  <h1 class='font-bold text-xl pb-8'> Your Shopping Cart </h1>
    
  </br>

  <table class="table-auto">
    <%= render cart.line_items %>

    <tfoot>
      <tr>
        <th class="text-right pt-5 border-t-2 border-black" colspan="3">Total:</th>
        <td class="text-right pt-5 pl-3 font-bold border-t-2 border-black">
          <%= number_to_currency(cart.total_price) %>
        </td>
      </tr>
    </tfoot>
  </table>

</div>
