<div class='mx-auto w-full flex'>
  <div class='mx-auto'>
    <!-- warming if present -->
    <% if notice.present? %>
      <p class=' w-full py-2 px-3 mb-5 bg-green-50 text-green-500 font-medium rounded-lg text-center inline-block' id='notice'><%= notice %></p>
    <% end %>
    
    <!-- user`s shopping cart -->
    <%= render partial: 'layouts/cart', locals: {cart: @cart } %>
    
    </br>
    </br>

    <%= button_to 'Empty this cart', cart_path(@cart), method: :delete,  form: {data: { turbo_method: :delete,turbo_confirm: 'Are you sure?' }}, 
    class: 'w-full inline-block rounded-lg mt-2 mr-2 py-2 px-8 bg-red-600 hover:bg-red-700 font-medium text-stone-100 transition duration-500' %>

    <%= link_to 'Edit this cart', edit_cart_path(@cart), 
    class: 'w-full inline-block rounded-lg text-center mt-2 py-2 px-8 bg-gray-100 hover:bg-gray-200 inline-block font-medium transition duration-500' %>
  </div>
</div>
