<div class='mx-auto md:w-2/3 w-full'>
  <!-- page`s title -->
  <div>
    <h1 class='text-center tracking-tighter antialiased font-semibold text-6xl text-slate-900/75'> New Product </h1>

    <div class='pb-8'> 
      <p class='font-caveat text-center antialiased text-2xl text-slate-700/75'> Grow your collection </p>
    </div>
  </div>

  <%= render 'form', product: @product %>

  <%= link_to 'Back to products', products_path, class: 'ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium' %>
</div>
