<div id='<%= dom_id line_item %>'>
  <% if action_name != 'show' %>
   
  <% end %>
</div>

<tr>
  <td class='text-right pb-3'> <%= line_item.quantity %> </td>
  <td class='pb-3'> &times; </td>
  <td class='pl-3 pr-8 pb-3'> <%= line_item.product.title %> </td>
  <td class='text-right font-bold pb-3'> <%= number_to_currency(line_item.total_price) %> </td>
</tr>
